[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
Flask='*'
gunicorn='*'
ChatterBot2='*'
PyYAML='*'
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
chatterbot-corpus = '*'
Spacy='*'
Numpy='*'

[requires]
python_version = "3.8.11"
